{{#if error_msg}}
<div class="alert alert-danger mx-auto p-1 my-1" style="max-width: 500px;" role="alert">{{error_msg}}</div>
{{/if}}

{{#if success_msg}}
<div class="alert alert-success mx-auto p-1 my-1" style="max-width: 500px;" role="alert">{{success_msg}}</div>
{{/if}}