
  <p id="resultado"></p>
   <script>
       const test = {{{toJSON result}}}
       const email = '{{{email}}}'
       if (test.length >0){
           document.querySelector("p#resultado").innerHTML = `Usuario ${test[0].email} ja existente`
       }else{
           document.querySelector("p#resultado").innerHTML = `Usuario ${email} cadastrado com sucesso`
       }
   </script>
