<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <p id="resultado"></p>
   <script>
       const test = {{{toJSON result}}}
       const email = '{{{email}}}'
       if (test.length >0){
           document.querySelector("p#resultado").innerHTML = `Usuario ${test[0].email} ja existente`
       }else{
           document.querySelector("p#resultado").innerHTML = `Usuario ${email} cadastrado com sucesso`
       }
   </script>
</body>
</html>