<div>
    <p>
    <form method="post" id="fLogin" action="/login" oninput="">
        <div class="form-group row">
            <label for="ilEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="ilEmail" name="nlEmail" placeholder="email@example.com">
            </div>
        </div>
        <div class="form-group row">
            <label for="ilPass" class="col-sm-2 col-form-label">Senha</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="ilPass" name="nlPass" placeholder="Senha">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
    </p>

    <p>
    <form method="post" id="fCadastro" action="/adduser" oninput="">


        <div class="form-group row">
            <label for="iNome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="iNome" name="nNome" placeholder="Nome">
            </div>
        </div>
        <div class="form-group row">
            <label for="iSobrenome" class="col-sm-2 col-form-label">Sobrenome</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="iSobrenome" name="nSobrenome" placeholder="Sobrenome">
            </div>
        </div>
        <div class="form-group row">
            <label for="icEmail" class="col-sm-2 col-form-label">em@il</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="icEmail" name="ncEmail" placeholder="email@example.com">
            </div>
        </div>
        <div class="form-group row">
            <label for="icPass" class="col-sm-2 col-form-label">Senha</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="icPass" name="ncPass" placeholder="Senha...">
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </div>
    </form>
    </p>
</div>